body {
	background-color: #fed8d3;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	text-align: center;
	font-size: 25px;
	font-family : Arial;
	color: white;
	text-decoration: none;
	padding: 15px 10px;
}
.topnav .active {
	background-color : #4CAF50;
	color: white;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

footer {
	padding : 10px;
	background-color: #333;
}

footer a {
	text-align: center;
	color: white;
}


.tkbt {
	padding: 5px;
	font-size: 20px;
}

.tkb table {
	font-size: 20px;
}