body {
	background-color: #fed8d3;
}

.body .topnav {
	background-color: #333;
	overflow: hidden;
}

.body .topnav .top2 {
	float: left;
	padding: 18px 0px;
}

.body .topnav .top2 a {
	text-align: center;
	font-size: 25px;
	font-family : Arial;
	color: white;
	text-decoration: none;
	padding: 19px 15px;
}

.body .topnav .top3 {
	float: left;
	padding: 18px 0px;
}

.body .topnav .top3 a {
	text-align: center;
	font-size: 25px;
	font-family : Arial;
	color: white;
	text-decoration: none;
	padding: 19px 15px;
}

.body .topnav .active {
	background-color : #63e459;
	color: white;
}

.body .topnav .homeicon .top1 {
	float: left;
}

.body .topnav .homeicon .top1 a {
	text-align: center;
	font-size: 25px;
	font-family : Arial;
	color: white;
	text-decoration: none;
	padding: 18px 15px;
}

.body .topnav .clock a {
	padding: 19px;
	float: right;
	color: white;
}

.body .topnav .homeicon a {
	float: left;
}

.body .footer {
	padding : 10px;
	background-color: #333;
}

.body .footer a {
	text-align: center;
	color: white;
}

.tkbt {
	padding: 5px;
	font-size: 20px;
}

.tkb table {
	font-size: 20px;
}

.Marquee marquee {
	font-size : 18px;
}
